#!/usr/bin/python3

# Key used to sign cookies (should ideally be random bytes).
secret_key = '123'

# Account to send email from.
mail_username = 'name@gmail.com' 

# Password for the above account.
mail_password = 'abcd'

# Address to send email from. This will probably be the same as mail_username,
# but it can also be an address aliased to that account.
mail_sender = 'alias@domain.tld'

# Google Maps API key that we're using on the server. Keep this secret; we don't
# want someone running a bunch of geocoding queries with our account.
maps_server_api_key = 'your-key-here'

# Google Maps API key that we're embedding in the web page. Only the JS API
# should be enabled for this key, since our users can see it.
maps_client_api_key = 'your-key-here'

# Passed as query string when making requests for admin commands (mostly
# scraping)
admin_key='testkey'
